/* Define colors */ /* {{{ */
/* Paleta Kanagawa Paper Ink */
@define-color background  rgba(24, 22, 22, 0.5);
@define-color warning     #C34043; /* autumnRed */
@define-color caution     #545464; /* Cinza neutro */
@define-color performance #7E9CD8; /* waveBlue2 */
@define-color audio       #957FB8; /* waveAqua2 */
@define-color misc        #76946A; /* autumnGreen */
@define-color date        #DCA561; /* autumnYellow */
@define-color work        #7E9CD8; /* waveBlue2 */
@define-color window      #DCD7BA; /* oldWhite (cor de texto principal) */
@define-color process     #6A9589; /* carpGreen */
/* }}} */

/* Main bar keyframes */ /* {{{ */
@keyframes blink-critical-text {
    to {
        color: @warning;
    }
}

@keyframes blink-modifier-text {
    to {
        color: @caution;
    }
} /* }}} */

/* Main bar defaults */ /* {{{ */
#waybar {
    background: rgba(22, 22, 29, 0.4);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(22, 22, 29, 0.5),
    inset 0 -1px 0 rgba(22, 22, 29, 0.1),
    inset 0 0 20px 10px rgba(22, 22, 29, 1);
    font-family: "DankMono Nerd Font Mono";
    font-size: 16px;
    font-weight: 500;
    border-radius: 13px;
    border: 1px solid @caution;

}

#waybar button {
    background: rgba(24, 22, 22, 0.15);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(24, 22, 22, 0.5),
    inset 0 -1px 0 rgba(24, 22, 22, 0.1),
    inset 0 0 60px 30px rgba(24, 22, 22, 1);
    font-size: 16px;
    font-weight: 500;
    font-family: "DankMono Nerd Font Mono";
    font-size: 13pt;
    transition: all 0.15s ease-in-out;
} /* }}} */

/* Main bar modules */ /* {{{ */
#workspaces,
#window,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#clock,
#tray,
#custom-power,
#custom-weather,
#custom-battery,
#keyboard-state,
#language,
#submap,
#temperature,
#disk {
    background: rgba(24, 22, 22, 0.4);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(24, 22, 22, 0.5),
    inset 0 -1px 0 rgba(24, 22, 22, 0.1),
    inset 0 0 0px 0px rgba(24, 22, 22, 0);
    margin: 2px 10px; /* Margem: 5px (vertical) e 10px (horizontal) para afastar as pílulas */
    padding: 0px 5px;
} /* }}} */

/* Module colors */ /* {{{ */
#cpu,
#temperature,
#memory {
    color: @performance;
}

#pulseaudio {
    color: @audio;
}

#battery,
#language,
#backlight {
    color: @misc;
}

#clock {
    color: @date;
}

#window {
    color: @window;
}

#network,
#network.wifi,
#network.ethernet,
#network.disconnected {
    color: @window; /* COR DE ALTA CONTRASTE PARA O MÓDULO DE REDE */
}
/* }}} */

/* Workspace */ /* {{{ */
#workspaces button {
    font-family: "DankMono Nerd Font Mono";
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    transition: all 0.25s ease;
}

#workspaces button.visible {
    color: @window;
}

#workspaces button.active {
    color: @work;
    border: 1.5px solid @caution;
}

#workspaces button:hover {
    color: @window;
} /* }}} */

/* Tooltip */ /* {{{ */
tooltip {
    background: @background;
    border: 3px solid @caution;
    border-radius: 8px;
    font-weight: 500;
    font-family: "DankMono Nerd Font Mono"; /* SUA FONTE PREFERIDA */
}

#tray menu {
    background: @background;
    border: 3px solid @caution;
    border-radius: 8px;
} /* }}} */
