/* Wofi - Tema Kanagawa Paper Ink */

/* Importando as cores que já definimos na Waybar para consistência */
@import "/home/renatolinard/.config/waybar/style.css";

window {
    /* Fundo escuro (Sumi Ink 0) com 75% de opacidade */
    background-color: rgba(22, 22, 29, 0.9);
    border: 2px solid @caution;
    border-radius: 10px;
}

#input {
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: @fg-primary;
    background-color: @bg-primary;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 15px;
    background-color: transparent;
}

#scroll {
    background-color: transparent;
}

#text {
    padding: 5px;
    color: @fg-secondary;
}

#entry:selected {
    background-color: @blue;
    color: @bg-primary;
    border-radius: 8px;
}

#entry:selected #text {
    color: @bg-primary;
}
