@import '/home/renatolinard/.cache/wal/colors-waybar.css';
/** ********** Fonts ********** **/
* {
    font-family: "OperatorMonoLig Nerd Font Mono";
    font-size: 18px;
}

#window {
    background: rgba(0, 0, 0, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* Usa uma cor de borda sutil da paleta pywal (um cinza escuro) */
    border: 1px solid @color8;

}

#outer-box {
    padding: 10px;
}

#input {
    background-color: @color0;
    border: 1px solid @color8;
    padding: 4px 12px;
    border-radius: 8px;
}

#scroll {
    margin-top: 10px;
}

#inner-box {
}

#img {
    padding-right: 8px;
}

#text {
    color: @foreground;
}

#text:selected {
    color: @background;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: @selected;
    color: @background;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
    border-radius: 0px;
}
